@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  font-family: "Rubik", sans-serif;
}

[data-food=pizza] {
  background-color: rgb(230, 243, 245);
}

[data-food=kebab] {
  background-color: rgb(234, 238, 250);
}

[data-food=kebab] {
  background-color: rgb(234, 238, 250);
}

[data-food=salmon] {
  background-color: rgb(249, 255, 246);
}

[data-food=doughnut] {
  background-color: rgb(243, 247, 217);
}

[data-food=cupcake] {
  background-color: rgb(240, 254, 235);
}

.App {
  position: relative;
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

.navbar {
  padding: 1.3em 0.5em;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container {
  position: relative;
}

.navbar-brand {
  margin-right: 0.4em;
}
.navbar-brand .logo-nav {
  width: 150px;
}

.navbar-collapse {
  font-weight: 600;
  font-size: 0.9em;
}
.navbar-collapse ul {
  position: relative;
  gap: 1em;
}
.navbar-collapse ul li {
  position: relative;
  padding: 0.6em 0;
}
.navbar-collapse ul .hot-promotions {
  display: inline-block;
  position: absolute;
  right: -1em;
  top: 0.1em;
  font-size: 0.6em;
  padding: 0.3em 1em;
  border-radius: 1em;
  color: #fff;
}

.button-navbar {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
}
.button-navbar .btn {
  border-radius: 1.5em;
  padding: 0.6em 1em;
  font-size: 0.9em;
}
.button-navbar .btn-login {
  color: rgb(51, 51, 51);
  font-weight: 600;
}
.button-navbar .btn-daftar {
  color: #fff;
  background: rgb(139, 172, 62);
}

.jumbotron {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: #fff;
  padding-top: 100px;
  padding-bottom: 50px;
}
.jumbotron .jumbotron-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0.03;
}

.container-jumbotron {
  display: grid;
  z-index: 2;
  grid-template-columns: 0.8fr 1fr;
  grid-template-rows: 180px auto;
  grid-template-areas: "title image" "description image";
}

.title-jumbotron {
  grid-area: title;
  z-index: 5;
  font-size: 3.5em;
  align-self: end;
  color: rgb(139, 172, 62);
}

.description-jumbotron {
  padding: 1em 0;
  grid-area: description;
  z-index: 5;
}
.description-jumbotron .paragraph-description {
  color: rgb(117, 117, 117);
  font-weight: 500;
}
.description-jumbotron .button-jumbotron {
  position: relative;
  width: 100%;
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}
.description-jumbotron .btn {
  border-radius: 1.5em;
  padding: 0.6em 1em;
  font-size: 0.9em;
}
.description-jumbotron .btn-daftar-jumbotron {
  color: #fff;
  background: rgb(139, 172, 62);
  box-shadow: 0 1em 1em rgb(230, 243, 245);
}
.description-jumbotron .btn-about-us-jumbotron {
  background: rgb(242, 242, 242);
  font-weight: 600;
}

.jumbotron-img {
  z-index: 5;
  grid-area: image;
  position: relative;
  width: 100%;
  display: grid;
  justify-items: end;
  align-items: center;
}
.jumbotron-img .img-food {
  position: relative;
  width: 450px;
  height: 450px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: grid;
  place-items: center;
  background: url("../images/plate-jumbotron.png") no-repeat center;
  background-size: cover;
}
.jumbotron-img .img-food img {
  width: 85%;
  height: 85%;
  -o-object-position: center;
     object-position: center;
}
.jumbotron-img .card-food-jumbotron {
  position: absolute;
  bottom: 1%;
  right: 30%;
  padding: 1em 0.7em;
  width: 285px;
  height: 85px;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
  border-radius: 17px;
  gap: 0.5em;
}
.jumbotron-img .card-food-jumbotron .img-food-jumbotron {
  width: 53px;
  height: 100%;
}
.jumbotron-img .card-food-jumbotron .description-card-food-jumbotron {
  height: 100%;
  flex: 1;
}
.jumbotron-img .card-food-jumbotron .description-card-food-jumbotron .title-card-food {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.jumbotron-img .card-food-jumbotron .description-card-food-jumbotron .sub-title-card-food {
  font-size: 12px;
  margin: 0;
  padding: 0;
  color: rgb(117, 117, 117);
}

.category {
  position: relative;
  width: 100%;
  margin-top: 90px;
}

.title-category {
  font-size: 2em;
  margin: 0;
}

.sub-title-category {
  font-size: 1.9em;
  color: rgb(164, 180, 65);
}

#container-slider {
  position: relative;
  right: 0;
  margin-top: 50px;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.card-category {
  position: relative;
  width: 100%;
  height: 170px;
  padding: 1.7em 1em;
  border-radius: 0.5em;
  transition: 0.3s;
}
.card-category .card-category-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.3s;
}
.card-category:hover .card-category-bg {
  opacity: 0.1;
}

.card-header-category {
  width: 100%;
  display: grid;
  place-items: center;
}
.card-header-category img {
  width: 50px;
  height: 52px;
}

.card-body-category {
  position: relative;
  width: 100%;
  margin-top: 1.4em;
  text-transform: capitalize;
}
.card-body-category .title-card-category {
  font-size: 16px;
  margin: 0;
  text-align: center;
}
.card-body-category .total-item-category {
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.button-slider-category {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: right;
  margin-top: 3em;
  gap: 0.8em;
}
.button-slider-category button {
  padding: 0 0.3em;
  border-radius: 1.8em;
  display: flex;
  width: 100px;
  border: none;
  justify-content: space-evenly;
  text-transform: uppercase;
  align-items: center;
  background: rgb(164, 180, 65);
}
.button-slider-category .circle-slide {
  width: 28px;
  height: 28px;
  background: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.button-slider-category p {
  color: #fff;
  margin: 0;
  padding: 0;
  margin-top: 0.2em;
}

.trending {
  position: relative;
  margin-top: 100px;
}

.title-trending {
  font-size: 2em;
  margin: 0;
}

.sub-title-trending {
  font-size: 1.9em;
  color: rgb(164, 180, 65);
}

.container-card-trending {
  position: relative;
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  gap: 0.6em;
}

.card-item {
  width: 100%;
  height: 260px;
  box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
  border-radius: 17px;
  padding: 1.5em 1.2em;
  text-transform: capitalize;
  position: relative;
}
.card-item:hover .card-item-bg {
  opacity: 0.1;
}
.card-item .card-item-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
}
.card-item .img-card-item {
  z-index: 3;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 0.5em;
}
.card-item .img-card-item img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.card-item .title-card-item {
  z-index: 3;
  margin-top: 0.8em;
  font-size: 1.5em;
}
.card-item .sub-title-card-item {
  margin: 0;
  z-index: 3;
  padding: 0;
  margin-top: -0.2em;
  margin-bottom: 1em;
  color: rgb(164, 180, 65);
  font-size: 1em;
}

.container-btn-all-receipt {
  display: flex;
  justify-content: center;
  margin-top: 4em;
}
.container-btn-all-receipt .btn-all-receipt {
  border-radius: 1.5em;
  padding: 0.6em 1em;
  font-size: 0.9em;
  background: rgb(139, 172, 62);
  padding: 0.7em 1.5em;
  color: #fff;
}

.stars-ranting {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.1em;
}
.stars-ranting i {
  font-size: 0.6em;
  margin-top: 0.4em;
  color: rgb(255, 132, 18);
}
.stars-ranting i.empty-stars {
  color: rgb(201, 201, 201);
}

.footer {
  position: relative;
  margin-top: 140px;
  height: 330px;
  border-radius: 20px;
  background: rgb(249, 255, 246);
  padding: 2em;
  display: grid;
  grid-template-columns: 1fr auto auto 0.7fr;
  grid-auto-rows: auto;
}

.contact {
  width: 100%;
  height: 100%;
}
.contact .address {
  margin-top: 1.7em;
  max-width: 380px;
  font-size: 0.8em;
  color: rgb(117, 117, 117);
}
.contact .social-media {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-top: 2em;
}
.contact .social-media a {
  color: inherit;
  text-decoration: none;
  padding: 0.7em;
  color: rgb(164, 180, 65);
  font-size: 0.8em;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.5;
}
.contact .social-media a i {
  transition: 0.5s;
}
.contact .social-media a:hover {
  background: rgb(164, 180, 65);
  color: #fff;
}

.categories {
  position: relative;
  height: 100%;
  width: 180px;
  padding: 0 0.5em;
}
.categories .title-categories {
  margin: 0;
  font-size: 18px;
  margin: 0.7em 0 0.5em;
}
.categories .nav-categories {
  width: 100%;
  list-style: none;
  padding: 0;
}
.categories .nav-categories li {
  padding: 0.3em 0;
}
.categories .nav-categories a {
  color: rgb(117, 117, 117);
  text-decoration: none;
}

.about-us {
  position: relative;
  height: 100%;
  width: 180px;
  padding: 0 0.5em;
}
.about-us .title-about-us {
  margin: 0;
  font-size: 18px;
  margin: 0.7em 0 0.5em;
}
.about-us .nav-about-us {
  width: 100%;
  list-style: none;
  padding: 0;
}
.about-us .nav-about-us li {
  padding: 0.3em 0;
}
.about-us .nav-about-us a {
  color: rgb(117, 117, 117);
  text-decoration: none;
}

.newsletter {
  padding: 0 0.2em;
  position: relative;
  width: 100%;
  height: 100%;
}
.newsletter .title-newsletter {
  margin: 0;
  font-size: 18px;
  margin: 0.7em 0 0.5em;
}
.newsletter .letter-discount {
  color: rgb(117, 117, 117);
}
.newsletter .input-email {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 0.6em;
  display: flex;
  justify-content: left;
  border: 1px solid #000;
}
.newsletter .input-email input {
  flex: 1;
  outline: none;
  border: none;
  width: 100%;
  padding: 0.4em 0.7em;
  color: #000;
}
.newsletter .input-email input::-moz-placeholder {
  color: #000;
}
.newsletter .input-email input:-ms-input-placeholder {
  color: #000;
}
.newsletter .input-email input::placeholder {
  color: #000;
}
.newsletter .input-email .btn-submit-email {
  border: none;
  outline: none;
  padding: 0 1em;
  background-color: rgb(164, 180, 65);
  color: #fff;
}
.newsletter .btn-email, .newsletter .btn-notelphone {
  margin-top: 0.5em;
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0.2em 0;
  gap: 0.2em;
  font-size: 0.9em;
}
.newsletter .btn-email i, .newsletter .btn-notelphone i {
  margin: 0 0.3em;
  color: rgb(117, 117, 117);
}

.copy-right {
  position: relative;
  width: 100%;
  height: 70px;
  display: grid;
  place-items: center;
}

.footer-mobile {
  width: 100%;
  height: auto;
  display: none;
}

@media screen and (max-width: 1000px) {
  .container-jumbotron {
    grid-template-columns: 1fr;
    grid-template-rows: 180px auto auto;
    grid-template-areas: "title" "description" "image";
  }
  .jumbotron-img {
    justify-items: center;
  }
  .jumbotron-img .card-food-jumbotron {
    left: 10%;
  }
  .container-card-trending {
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
  }
  .footer {
    height: auto;
    gap: 0.7em;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categories, .about-us {
    width: 100%;
  }
  .newsletter {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}
@media screen and (max-width: 768px) {
  .navbar {
    border-bottom: 1px solid rgba(222, 222, 222, 0.5);
  }
  .button-navbar .btn-login {
    display: none;
  }
  .button-slider-category {
    display: none;
  }
  .container-card-trending {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3em;
  }
  .btn-all-receipt {
    margin-bottom: 160px;
  }
  .footer {
    display: none;
  }
  .copy-right {
    display: none;
  }
  .footer-mobile {
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7em 1.5em;
  }
  .footer-mobile .nav-footer-mobile {
    cursor: pointer;
    display: flex;
    gap: 0.1em;
    flex-direction: column;
    color: rgb(117, 117, 117);
  }
  .footer-mobile .nav-footer-mobile i {
    font-size: 1.9em;
    text-align: center;
  }
}
@media screen and (max-width: 550px) {
  .container-card-trending {
    grid-template-columns: 1fr;
    margin-bottom: 180px;
  }
  .container-btn-all-receipt {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .container-jumbotron {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 1.5em;
    padding: 0 1.4em;
    grid-template-areas: "title" "image" "description";
  }
  .container-jumbotron .title-jumbotron {
    font-size: 2.5em;
  }
  .container-jumbotron .description-jumbotron {
    font-size: 0.9em;
  }
  .container-jumbotron .jumbotron-img {
    justify-items: left;
  }
  .container-jumbotron .jumbotron-img .img-food {
    width: 170px;
    height: 170px;
    place-items: left;
  }
  .container-jumbotron .jumbotron-img .img-food img {
    width: 90%;
    height: 90%;
    -o-object-position: center;
       object-position: center;
  }
  .container-jumbotron .card-food-jumbotron {
    position: absolute;
    bottom: -15%;
    left: 18%;
  }
  .title-trending, .title-category {
    font-size: 1.6em;
  }
  .sub-title-trending, .sub-title-category {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 400px) {
  .container-navbar {
    gap: 0.9em;
  }
  .button-navbar {
    flex: 1;
  }
  .button-navbar .btn-login {
    display: none;
  }
  .container-jumbotron .card-food-jumbotron {
    position: absolute;
    bottom: -15%;
    left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 345px) {
  .navbar-brand .logo-nav {
    width: 110px;
  }
  .container-jumbotron .title-jumbotron {
    font-size: 2.2em;
  }
}/*# sourceMappingURL=index.css.map */