@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800&display=swap');


$font:'Rubik', sans-serif;
$sky-blue:rgba(64, 162, 177, 1);
$very-soft-green:rgba(164, 180, 65, 1);
$icon-stars:rgba(255, 132, 18, 1);
$soft:(
    'green':rgba(139, 172, 62, 1),
    'blue':rgba(64, 94, 182, 1),
    'pink':rgba(178, 63, 116, 1),
);

$alpha:(
    'green':rgba(240, 254, 235, 1),
    'sky-blue':rgba(230, 243, 245, 1),
    'blue':rgba(234, 238, 250, 1),
    'orange':rgba(249, 238, 243, 1),
    'very-soft-green':rgba(243, 247, 217, 1),
    'yellow':rgba(249, 255, 246, 1)
);
$text-color:(
    'coklat':rgba(51, 51, 51, 1),
    'gray':rgba(117, 117, 117, 1)
);


// mixin rounded button
@mixin button_rounded(){
    border-radius: 1.5em;
    padding: 0.6em 1em;
     font-size: 0.9em;
}



// Css Reset

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

// For Id ROOT
#root{
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    font-family: $font;
}


// For App class
.App{
    position: relative;
    width: 100%;
    height: 500vh;
    overflow-x: hidden;
}


// Code For Navbar
.navbar{
    padding: 1.3em 0.5em;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar-container{
    position: relative;
}

// navbar-brand
.navbar-brand{
    margin-right: 0.4em;
    
    .logo-nav{
        width: 150px;
    }
}

// navbar collapse
.navbar-collapse{
    font-weight: 600;
    font-size: 0.9em;
    // ul navbar collapse
    ul{
        position: relative;
        gap: 1em;
        li{
            position: relative;
            padding:0.6em 0;
        }

        // hot promotion
        .hot-promotions{
            display: inline-block;
            position: absolute;
            right: -1em;
            top: 0.1em;
            font-size: 0.6em; 
            padding: 0.3em 1em;
            border-radius: 1em;
            color: #fff;
        }
    }

 
}


// button navbar
.button-navbar{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;

    // button nav
    .btn{
        @include button_rounded();
    }
   

    // button login || masuk
    .btn-login{
        color: map-get($text-color, 'coklat' );
        font-weight: 600;

    }

    // button daftar
    .btn-daftar{
            color: #fff;
        background: map-get($soft, 'green' );
    }
}

// end for code css navbar

// code css untuk jumbotron
.jumbotron{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background: #fff;
    padding-top: 100px;
    padding-bottom: 50px;


    // jumbotron bg
    .jumbotron-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../images/background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        opacity: 0.03;
    }
}

// css untuk container jumbotron
.container-jumbotron{
    display: grid;
    z-index: 2;
    grid-template-columns: 0.8fr 1fr;
    grid-template-rows: 180px auto;
    grid-template-areas: 'title image'
                         'description image';
}

// css untuk Title Jumbotron
.title-jumbotron{
    grid-area: title;
    z-index: 5;
    font-size: 3.5em;
    align-self: end;
    color: map-get($soft, 'green');
}

// css untuk  description jumbotron
.description-jumbotron{
    padding: 1em 0;
    grid-area: description;
    z-index: 5;

    // paragraph-description
    .paragraph-description{
        color: map-get($text-color, 'gray' );
        font-weight: 500;
    }

    // container button description
    .button-jumbotron{
        position: relative;
        width: 100%;
        display: flex;
        gap: 1em;
        margin-top: 1.5em;
    }

     // button description
     .btn{
        @include button_rounded();
     }

    //  button daftar context jumbotron
     .btn-daftar-jumbotron{
        color: #fff;
        background: map-get($soft, 'green' );
        box-shadow: 0 1em 1em map-get($alpha ,'sky-blue');
    }

    // button about us jumbotron
    .btn-about-us-jumbotron{
        background: rgb(242, 242, 242);
        font-weight: 600;
    }
     

}


// code for jumbotron images
.jumbotron-img{
    z-index: 5;
    grid-area: image;
    position: relative;
    width: 100%;
    display: grid;
    justify-items: end;
    align-items: center;
   
   // img food 
   .img-food{
    position: relative;
    width: 450px;
    height:450px;
    user-select: none;
    display: grid;
    place-items: center;
    background: url('../images/plate-jumbotron.png') no-repeat center ;
    background-size: cover;

        img{
            width: 85%;
            height: 85%;
            object-position: center;
        }
        
   }

   
// card food jumboton
.card-food-jumbotron{
    position: absolute;
    bottom: 1%;
    right: 30%;
    padding: 1em 0.7em;
    width: 285px;
    height: 85px;
    display: flex; 
    align-items: center;
    background: rgba(255, 255, 255, 0.74);
    box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
    backdrop-filter: blur(5.5px);
    border-radius: 17px;
    gap: 0.5em;

    // img food jumbotron
    .img-food-jumbotron{
        width: 53px;
        height: 100%;
    }

    // description-card-food-jumbotron
    .description-card-food-jumbotron{
        height: 100%;
        flex: 1;

        // title card food
        .title-card-food{
            font-size: 14px;
            margin: 0;
            padding: 0;
        }

        // sub title card food
        .sub-title-card-food{
            font-size: 12px;
            margin: 0;
            padding: 0;
            color: map-get($text-color, 'gray' );
        }

       
    }
}
}




// END FOR CSS JUMBOTRON
// -----------------------------------------
// CSS FOR TRENDING
.trending{
    position: relative;
    margin-top: 100px;
}

// title trending
.title-trending{
    font-size: 2em;
    margin: 0;
}

// sub title trending
.sub-title-trending{
    font-size: 1.9em;
    color: $very-soft-green;
}

// container card trending
.container-card-trending{
    position: relative;
    width: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: auto;
    gap: 0.6em;

}


    // card item
    .card-item{
        width: 100%;
        height: 260px;
        box-shadow: 0px 11px 39px rgba(0, 0, 0, 0.07);
        border-radius: 17px;
        padding: 1.5em 1.2em;
        text-transform: capitalize;

        // img card item
        .img-card-item{
            width: 100px;
            height: 100px;
            overflow: hidden;
            border-radius: 0.5em;

            img{
                width: 100%;
                height: 100%;
                user-select: none;
                object-fit: cover;
                object-position: center;
            }
        }

        // title card item
        .title-card-item{
            margin-top: 0.8em;
            font-size: 1.5em;
        } 

        // sub title card item
        .sub-title-card-item{
            margin: 0;
            padding: 0;
            margin-top: -0.2em;
            margin-bottom: 1em;
            color: $very-soft-green;
            font-size: 1em;
        }
    }

    .card-item[data-food='pizza']{
        background-color: map-get($alpha, 'sky-blue' );
    }
    .card-item[data-food='kebab']{
        background-color: map-get($alpha, 'blue' );
    }
    .card-item[data-food='kebab']{
        background-color: map-get($alpha, 'blue' );
    }
    .card-item[data-food='salmon']{
        background-color: map-get($alpha, 'yellow' );
    }
    .card-item[data-food='doughnut']{
        background-color: map-get($alpha, 'very-soft-green' );
    }
    .card-item[data-food='cupcake']{
        background-color: map-get($alpha, 'green' );
    }


    // container-btn-all-receipt
    .container-btn-all-receipt{
        display:flex;
        justify-content: center;
        margin-top: 4em;
        .btn-all-receipt{
            @include button_rounded();
            background:map-get($soft,'green');
            padding: 0.7em 1.5em;
            color: #fff;
        }
    }


 // stars ranting food
 .stars-ranting{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.1em;

    i{
        font-size: 0.6em;
        margin-top: 0.4em;
        color: $icon-stars;
    }
    i.empty-stars{
        color: rgb(201,201,201);
    }
}


// media for < 1000px
@media screen and (max-width:1000px) {

    // container jumbotron for media < 1000px
    .container-jumbotron{
        grid-template-columns:  1fr;
        grid-template-rows: 180px auto auto;
        grid-template-areas: 'title'
                             'description'
                             'image';
    }

    // jumbotron img < 1000px
    .jumbotron-img{
        justify-items: center;

        .card-food-jumbotron{
            left: 10%;
        }
    }

    .container-card-trending{
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
    }
}

// media for < 768px
@media screen and (max-width:768px){

    // navbar < 768px
    .navbar{
        border-bottom: 1px solid rgba(222, 222, 222,0.5);
    }

    // button navbar < 768px
    .button-navbar{
        // button login || masuk < 768px
        .btn-login{
            display: none;
        }
    }

    .container-card-trending{
        grid-template-columns: 1fr 1fr;
    }

}

@media screen  and (max-width:550px){
    
    .container-card-trending{
        grid-template-columns: 1fr ;
    }

    .container-btn-all-receipt{
        display: none;
    }
}

// media for < 500px
@media screen and (max-width:500px){
    
    // container jumbotron media 500px
    .container-jumbotron{
        grid-template-columns:  1fr;
        grid-template-rows: auto auto auto;
        gap: 1.5em;
        padding: 0 1.4em;
        grid-template-areas: 'title'
                             'image'
                             'description'; 
        
        // title jumbotron media < 500px
        .title-jumbotron{
            font-size: 2.5em;
        }

        // description jumbotron  < 500px
        .description-jumbotron{
           font-size: 0.9em;
        }

        // jumbotron img < 500px
        .jumbotron-img{
            justify-items: left;
           
           // img food 
           .img-food{
            width: 170px;
            height:170px;
            place-items: left;
        
                img{
                    width: 90%;
                    height: 90%;
                    object-position: center;
                }
           }
        
        }                 

        // card-food-jumbotron
        .card-food-jumbotron{
            position: absolute;
            bottom: -15%;
            left: 18%;
           }                      
    }

    // title trending < 500px
    .title-trending{
        font-size: 1.6em;
    }

    // sub title trending < 500px
    .sub-title-trending{
        font-size: 1.5em;
    }

    

}

// media for < 400px
@media screen and (max-width:400px){

    .container-navbar{
        gap: 0.9em; 
    }

    // button navbar < 400px
    .button-navbar{
        flex: 1;

        // button login || masuk
        .btn-login{
            display: none;
        }
    }
 
    // container jumbotron < 400px
    .container-jumbotron{

        .card-food-jumbotron{
            position: absolute;
            bottom: -15%;
            left: 0;
            width: 100%;
           } 
    }

}


// media for < 345px
@media screen and (max-width:345px){

    // navbar brand < 400px
    .navbar-brand{
     .logo-nav{
        width: 110px;
     }
    }

    
    .container-jumbotron{
        .title-jumbotron{
            font-size: 2.2em;
        }
    }
}